/* css da page home */
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home img {
  height: 500px;
}

.home p {
  font-size: 3rem; /* 48px */
  font-weight: bold;
  margin-bottom: 1rem;
}

.home span {
  color: var(--red);
}

.btn {
  width: 250px;
  height: 50px;
  font-size: 1.125rem;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn-red {
  background-color: var(--red);
  color: var(--white);

}
.btn-red:hover {
  background-color: var(--primary);
}
