/* css da page home */
.home {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home_img {
  height: 350px;
}

.home p {
  font-size: 3rem; /* 48px */
  font-weight: bold;
  margin-bottom: 1rem;
}

.home span {
  color: var(--blue);
}

.btn {
  width: 250px;
  height: 50px;
  font-size: 1.125rem;
  font-weight: bold;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn_red {
  background-color: var(--primary);
  color: var(--golden);
}

.btn_red:hover {
  background-color: var(--golden);
  color: var(--black);
}
