.card {
  width: 250px;
  height: 200px;
  background-color: var(--soft-white);
  color: var(--secondary-1-0);
  border-radius: 8px;
  box-shadow: 4px 4px 10px var(--shadow);
  padding: 0px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card_header {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background-color: var(--primary-0);
  text-align: center;
  padding: 5px;

}
.card h3 {
  color: var(--secondary-2-3);
}

.card p {
  color: var(--gray);
  padding: 10px;
}

.card_footer {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--terceary);
  padding-top: 5px;
  justify-content: space-around;
}

.card_icones {
  display: flex;
  gap: 5px;
  color: var(--secondary-1-1);
  font-size: 1.5rem;
}

.card_btn {
  width: 32px;
  height: 32px;
  border: 0px;
  border-radius: 4px;
  background-color: var(--primary-0);
  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card_btn:hover {
  background-color: var(--complement-3);
  transition: all .5s;
}