.sobre {
  width: 100%;
  min-height: 85vh;
  /*border: 1px solid var(--blue);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 30%;
  border-radius: 50%;
  box-shadow: 5px 10px 10px rgb(0,0,0,0.7);
}

.bio {
  display: flex;
  background-color: var(--white);
  border: 1px solid var(--secondary-1-4);
  box-shadow: 5px 5px 10px var(--shadow) ;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  padding: 30px;
}

.sobre_img {
  width: 1.25rem;
}
.textos h2, p {
  margin-bottom: 1rem;
}

.techs {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.icones {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icones img {
  height: 30px;
}