:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #16213e;
  --secondary: #0F3460;
  --terceary: #533483;
  --red: #e94560;
  --soft-white: #f9f9f9;
  --soft-yellow: #cbcd9a;
  --white: #fff;
  --black: #111;
  --shadow: #22222270 ;
  --blue: #001ca4;
  --golden: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}